
/*:focus { outline: none; } */
header p
{
	font-size: 20px;
}
.tituto
{
	margin-left:20px;
}
.anterior i
{
	margin-top: 20px;
	font-size:40px;
}
section .btn_log
{
	width: 100%;
	padding: 10px; 
	background-color: #EA0B8C;
	color: white;
	border:none;
	border-radius: 5px;
}
section a
{
	font-size: 30px;
}
.next
{
	position: absolute;
	bottom:0px;
    right:0px;
    left: 0px;
	margin-bottom: 10px;

}

/*ESTILOS AL PLACEHOLDER*/
.user input::-webkit-input-placeholder {
  color: #D7D7D9;
}
.user input:-moz-placeholder {
  color: #D7D7D9;
}
.user input:-ms-input-placeholder {
  color: #D7D7D9;
}
.user input[placeholder] {
  color: blue;
  font-size: 15px;
}

/*ESTILOS DE PRUEBA*/
.user #sp
{
	background-color: white;
	border-right: none;
	border-left: none;
	box-shadow: none;
	padding: 0px;
}
#icon
{
	background-color: white;
	border-right: none;
	box-shadow: none;
}
#name
{
	background-color: white;
	border-right: none;
	border-left: none;
	box-shadow: none;
}
#lastname
{
border-left: none;
	box-shadow: none;

}

/*TERMINOS Y CONDICIONES*/
.terminos
{
	color:black;
	font-weight: 
	margin:0px auto;

}